[
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]},

  {database, [
    {seed, [
      {single, "localhost:27017"}
    ]},
    {options, [
      {name, lela},
      {register, lela}
    ]},
    {worker_opts, [
      {database, <<"lela">>},
      {username, <<"hisham">>},
      {password, <<"pass">>}
    ]}
  ]},

  {lager, [
    {handlers, [
      {lager_console_backend, debug},
      {lager_file_backend, [{file, "log/lager_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/lager_info.log"}, {level, info}]},
      {lager_file_backend, [{file, "log/lager_console.log"}, {level, debug}]}
    ]}
  ]}

].
